@import '../../../styles/var'

.posts
    padding: 0 0 50px 0
.img
    width: 100%
    height: 400px
    //background-size: 100%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
.wrapper
    display: flex
    justify-content: center
.button
    width: 200px
    border: 2px solid $linePost
    &:hover
        box-shadow: 1px 0px 10px 3px rgba(53, 0, 2, 0.51)
.main
    width: 60%
    border-radius: $borderRadius
    background-color: #efefef
    box-shadow: $boxShadow
    overflow: hidden
    &_img
        width: 100%
.block
    padding: 30px
    &_button
        display: flex
        justify-content: center
        margin: auto auto 30px
        width: 100%
.title
    margin-bottom: 20px
    font-size: 20px
.text
    padding: 10px 0
    line-height: 25px
    font-size: 18px
    color: $textColor
    border-bottom: 3px solid $bgColor2
    border-top: 3px solid $linePost
    white-space: pre-wrap
    //text-overflow: ellipsis
.span
    display: inline-block
    margin-bottom: 30px
    +link
.button
    margin-right: 20px
    padding: 5px 10px
    border: 2px solid $linePost
    &:hover
        box-shadow: 1px 0px 10px 3px rgba(53, 0, 2, 0.51)
    &:last-child
        margin-right: 0

@media (max-width: 1200px)
@media (min-width: 768px) and (max-width: 900px)
    .main
        width: 90%
@media (min-width: 481px) and (max-width: 767px)
    .main
        width: 90%
    .block
        &_button
            flex-direction: column
            align-items: center
    .button
        margin: 0 0 10px 0
        &:last-child
            margin: 0
@media (min-width: 320px) and (max-width: 480px)
    .main
        width: 90%
    .block
        &_button
            flex-direction: column
            align-items: center
    .button
        margin: 0 0 10px 0
        &:last-child
            margin: 0