@import '../../../styles/var'

.main
    padding: 50px 0
.wrapper
    display: flex
    justify-content: space-between
.top
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center
    &_line
        display: inline-block
        width: 100%
        height: 3px
        background-color: #a01111