@import '../../../styles/var'

.main
    padding: 50px 0
.wrapper
    display: flex
    justify-content: space-between
.top
    display: flex
    justify-content: space-between
    align-items: center
    &_line
        display: inline-block
        width: 90%
        height: 3px
        background-color: $linePost
.posts
    display: grid
    row-gap: 45px
    width: 70%
    &_wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        column-gap: 45px
        row-gap: 45px
.item
    &_wrapper
        padding: 20px
        //min-height: 600px
        height: 100%
    &_top
        display: flex
        flex-direction: column
        justify-content: space-between
        border-radius: $borderRadius
        background-color: #efefef
        min-height: 600px
        //padding: 20px 10px
        //box-shadow: $boxShadow
    &_bottom
        display: flex
        justify-content: center
        //align-items: flex-end
        border-radius: $borderRadius
        background-color: #efefef
        //box-shadow: $boxShadow
.img
    &_top
        //margin-bottom: 20px
        border-radius: 8px 8px 0 0
    &_bottom
        width: 50%
        border-radius: 8px 0 0 8px
.info
    padding: 10px 20px
    width: 100%
.title
    &_top
        margin: 0 0 20px 0
        font-size: 22px
    &_bottom
        margin-bottom: 10px
        font-size: 20px
.date
    &_top, &_bottom
        font-size: 18px
.text
    &_top
        padding: 20px 0px 0 0
        font-size: 18px
        line-height: 22px
.button
    margin: 20px 0 0 0
    padding: 5px 0
    width: 100%
    border: 2px solid $linePost
    &:hover
        box-shadow: 1px 0px 10px 3px rgba(53, 0, 2, 0.51)
.block
    display: flex
    justify-content: center
    align-items: center
.link
    display: flex
    justify-content: center
    padding: 10px 0px
    width: 30%
    border: 2px solid $linePost
    border-radius: $borderRadius
    &:hover
        box-shadow: 1px 0px 10px 3px rgba(53, 0, 2, 0.51)
