.blog
    padding: 50px 0
    &-wrapper
        display: flex
        justify-content: space-between
.posts
    display: flex
    justify-content: space-between
    width: 70%
    &-main
        width: 80%
        &__img
            margin-bottom: 20px
        &__title
            margin-bottom: 20px
    &-choice
        display: flex
        flex-direction: column
        justify-content: space-between
        &__item
            display: flex
        &__img
            margin-right: 20px
        &__title
            margin-bottom: 20px
.contacts
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 600px
    &-icon
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        width: 100%
        &__item
            width: 70px
            height: 70px
            border-radius: 50%
            background-size: 70%
            background-position: center
            background-repeat: no-repeat
            background-color: grey
        &__telegram
            background-image: url("../../public/img/telegram.svg")
        &__instagram
            background-image: url("../../public/img/instagram.svg")
        &__youtube
            background-image: url("../../public/img/youtube.svg")
        &__vk
            background-image: url("../../public/img/vk.svg")
    &-target
        width: 300px
        height: 300px
        background-color: grey