@import '../../../styles/var'

.contacts
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 40px 0 0 0
    height: 600px
.icon
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    &_item
        width: 70px
        height: 70px
        border-radius: 50%
        background-size: 70%
        background-position: center
        background-repeat: no-repeat
        background-color: $linePost
        &:hover
            box-shadow: $boxShadow
        &_telegram
            background-image: url("../../../public/img/telegram-white.svg")
            background-position: 40% 50%
        &_instagram
            background-image: url("../../../public/img/instagram-white.svg")
        &_youtube
            background-image: url("../../../public/img/youtube-white.svg")
.target
    display: flex
    justify-content: center
    align-items: center
    width: 300px
    height: 400px
    background-color: $linePost