@import '../../../styles/var'

.contacts
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 40px 0 0 0
    height: 600px
.icon
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    width: 100%
    &_item
        width: 70px
        height: 70px
        border-radius: 50%
        background-size: 70%
        background-position: center
        background-repeat: no-repeat
        background-color: #a0111128
        &_telegram
            background-image: url("../../../public/img/telegram.svg")
        &_instagram
            background-image: url("../../../public/img/instagram.svg")
        &_youtube
            background-image: url("../../../public/img/youtube.svg")
.target
    width: 300px
    height: 400px
    background-color: #a0111128